// Variables

// Primer esquema de colores
$white: #FFFFFF;
$platinum: #E6E7E7;
$gray: #BABABA;

//Segundo esquema de colores
$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;

//Tercer esquema de colores
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Cuarto esquema de colores
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;

//Quinto esquema de colores
$onyx: #333745;
$spanish-gray: #8F9199;
$lavender-gray: #C7C8CC;

//Sexto esquema de colores
$raisin-black: #222323;
$nickel: #6C6E70;
$silver-chalice: #AEACAF;

//Septimo esquema de colores
$black: #000000;
$cian-grisaceo: #879898;
$light-gray: #D1D1D1;


// Tipografía a usar
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$futura: "futura", sans-serif;
$Roboto: 'Roboto', sans-serif;
$Playfair: 'Playfair Display', italic;


// Tamaños de fuentes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;


// Peso de las fuentes
$medium: 300;
$regular: 400;
$bold: 700;


// Tamaño de botones
$medium-button: 200px;
$small-button: 100px;
